* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.MainComponent {
  background-image: url("../Assets/weather.png.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.warmTemperature {
  background-image: url("../Assets/WarmWeather.png.jpg");
  background-size: cover;
  background-position: bottom;
}

main {
  background-image: linear-gradient(
    to bottom,
    rgba(219, 210, 210, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  margin-left: 22%;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 15px;
  outline: none;
  font-size: 20px;
  background: #444;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 2%;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  transition: 0.6s ease;
}

.search-box .search-bar:focus {
  background: rgba(0, 0, 0, 0.2);
}

/* descendant selector (space)
The descendant selector matches all elements that are descendants of a specified element.
*/
.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  margin-top: 1%;
}

.weather-box {
  margin-top: 2%;
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font: weight 900px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  display:block;
  margin-left: 38%;
  width: 25%;
  margin-top: 2%;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  height: 5%;
}

/* Used overflow here because,after minimizing the window,elements inside Div are coming out */
.errorReport {
  background: #444;
  border-radius: 10px;
  width: 15%;
  height: 45px;
  margin-left: 40%;
  padding: 8px;
  overflow: hidden;
}

.errorReport .textStyle {
  width: 100%;
  margin-left: 20%;
}

.icon {
  width: 80px;
}
