* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 950px;
}

.subheader {
  width: 50%;
  margin-top: 20%;
  /* background-color: cadetblue; */
  background: rgba(0, 0, 0, 0.8);
  height: 550px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 30%;
  display: block;
}

div.label {
  margin-left: 41%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: aliceblue;
}

div.settingInput {
  margin-left: 35%;
}
input[type="search"].inputField {
  text-align: center;
  width: 50%;
  height: 33px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div.subItem {
  margin-top: 20px;
  width: 75%;
  background-color: rgba(236, 169, 122);
  padding-left: 150px;
  border-radius: 10px;
  height: 400px;
  margin-left: 100px;
}

.textStyles {
  font-size: 40px;
}

@media all and (max-width: 600px) {
  .subheader {
    margin-bottom: 38%;
    width: 95%;
    height: 650px;
    margin: 0px;
  }
  div.subItem {
    width: 95%;
    margin: 10px;
    height: 520px;
    padding: 0 0 0 20px;
    overflow: hidden;
  }
  div.label {
    margin-left: 30%;
  }

  div.settingInput {
    margin-left: 100px;
    width: 100%;
    overflow: hidden;
  }

  input[type="search"].inputField {
    background: rgba(243, 240, 240, 0.5);
    text-align: center;
  }

  .textStyles {
    font-size: 20px;
  }
}

@media all and (max-width: 1200px) {
  .subheader {
    margin-bottom: 38%;
    width: 95%;
    height: 650px;
    margin: 0px;
  }
  div.subItem {
    width: 95%;
    margin: 10px;
    height: 520px;
    padding: 0 0 0 80px;
    overflow: hidden;
  }
  div.label {
    margin-left: 30%;
  }

  div.settingInput {
    margin-left: 100px;
    width: 100%;
    overflow: hidden;
  }

  input[type="search"].inputField {
    background: rgba(243, 240, 240, 0.5);
    text-align: center;
  }

  .textStyles {
    font-size: 40px;
  }
}
